@page
@model RammsteinFan.Pages.UserPages.SongTranslations.SongTranslationsMainModel
@{
}
<div class="container">
    <div class="row justify-content-center mt-4">

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h4>Liebe ist Fur alle da</h4>
            <img class="img-fluid" src="~/img/albums/Liebe ist Fur alle da.jpg" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <ul class="text-white font-weight-bold list-songs">
                <li><a href="#">Rammlied</a></li>
                <li><a href="#">Ich tu dir weh</a></li>
                <li><a href="#">Waidmanns Heil</a></li>
                <li><a href="#">Haifisch</a></li>
                <li><a href="#">B********</a></li>
                <li><a href="#">Fruhling in Paris</a></li>
                <li><a href="#">Wiener Blut</a></li>
                <li><a href="#">Pussy</a></li>
                <li><a href="#">Liebe ist Fur alle da</a></li>
                <li><a href="#">Mehr</a></li>
                <li><a href="#">Roter Sand</a></li>
                <li><a href="#">Fuhre mich</a></li>
                <li><a href="#">Donaukinder</a></li>
                <li><a href="#">Halt</a></li>
                <li><a href="#">Liese</a></li>
            </ul>
        </div>
    </div>
</div>