@page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RammsteinFan.Pages.UserPages.SongTranslations.TranslationSongModel
@{
    ViewData["Title"] = "Переводы";
    ViewData["chapter"] = "Переводы песен";
}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-12 mb-4">
            <h3>
                Rammstein - Links 2 3 4
            </h3>
        </div>
        @for (int i = 0; i < Model.Songs.Count(); i++)
        {    
            if (Model.Songs[i] == ""& Model.SongTranslations[i] == "")
            {
                <div class="col-12"><br /></div>
                }
            else
            {
                <div class="col-5 ml-2">@Model.Songs[i]</div>
                <div class="col-5 ">@Model.SongTranslations[i]</div>
                }
        }
        <div class="col-12">
            <p>
                Перевод Max'a при участии Schwester


                [1] - kann mann - не испрашивание разрешения. Здесь риторический вопрос МОЖНО или НЕЛЬЗЯ? :- ) прим. Max'a

                [2] - значение ломать по отношению к сердцу не очень подходит... Если оно не механическое, то лучше употреблять в переводе русское выражение "разбить сердце" - прим. Max'a

                [3] - подразумевается фраза "окружающим так хочется видеть, что мое сердце справа" , то есть окружающие жаждут выдать желаемое ( с их стороны) за действительность, навесить ярлык , так сказать... ни для кого уже не секрет, что в свое время на Раммштайн частенько навешивали ярлык "наци", "фашистов". Этот текст был написан "в ответ" всем обвинителям, когда члены группы уже устали опровергать в прессе то, что они - группа "правого" толка, этот текст - свидетельство того, что Раммштайн никогда не разделяли взглядов "наци" - прим. Max'a

                [4] - фраза двоякая... можно опускать глаза от стыда, можно - чтоб удостовериться, что сердце находится там, где ему и положено быть - слева :- ) Последнее мне кажется более логичным, хотя кто знает, что Тилль вкладывал в эту фразу! ;- ) Фраза - провокация, в стиле Раммштайн- "А вот и думайте, граждане, что мы имели в виду!..." - прим. Max'a

                [5] – есть такое выражение: Das Herz am rechten Fleck haben. Оно означает: быть хорошим человеком, честным и так далее. В данном случае что мы имеем? Тилль над нами смеется! «Вы думаете, что я хороший человек? Ан-нет, у меня сердце слева!» Дело в том, что recht, это и «справа» и «на правильном месте». Вот и думаем... – прим. Schwester

                [6] - То есть - оный завистник не особо вникал в анатомию... Скорее, значение этой строчки - "завистники видят только то, что ХОТЯТ видеть, не вникая в то, как обстоят дела на самом деле. Они не ЗНАЮТ, они ДУМАЮТ, что знают" - прим. Max'a
            </p>
        </div>
    </div>
</div>