
.division {
    background: #B79B74;
    color: white;
    width: 100%;
    padding: 6px 10px 3px 10px;
    margin: 50px 0 5px 0;
}
.division > a{
    color: white;
}
.container-fluid>.discuss {
    color: white;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: #B79B74;
    margin-top:15px;
    /*margin: 15px 10px 0 10px;*/
    padding: 4px 6px 8px 12px;
}
.discuss > .answer{
    cursor: pointer;
    padding: 0;
    margin: 0 0 10px 0;
    background: none;
    color: white;
    
}
.answer:hover{
    color: #B79B74;
}
.answer > h5 {
    color: white;
    padding: 0;
    margin: 10px 0 10px 0;
    font-size: 21px;
}
.answer > h6 {
    padding: 0;
    margin: 10px 10px 10px 0;
    font-size: 17px;
}
.discuss > button {
    margin: 0 5px 0 5px;
    border: 0;
}
.discuss>button:active{
    border: 0;
}
.discuss > label {
    font-size: 14px;
}
.discuss >.eye {
    width: 22px;
    height: 13px;
}
.fire {
    width: 19px;
    height: 22px;
}
.comment {
    width: 21px;
    height: 16px;
}

.search{
    width:100%;
    border-radius:15px;
    border:0;
}
input {
    outline:none;
    caret-color: black;
}

button:focus {
    outline: none;
}

.searchButton:focus {
    background: url(../../img/discuss/searchActive.png);
    outline:none;
}

.searchButton {
    margin-top: 6px;
    padding:0;
    border: 0;
    background: url(../../img/discuss/search.png) no-repeat ;
    width: 21px;
    height:20px;
}