.discussion-container {
	padding: 0;
	width: 100%;
	margin: 0 15px;
}

.division {
	background: #B79B74;
	color: white;
	width: 100%;
	padding: 6px 10px 1px 10px;
	margin: 50px 0 5px 0;
}

.division a {
	color: white;
}
/*Форма отправки комментариев*/
input {
	outline: none;
	caret-color: black;
}

.commentator-name,
.comment-text {
	border: none;
	background: none;
	color: white;
	border-bottom: solid #71705d 1px;
	caret-color: white;
}

.commentator-name {
	margin-right: 5%;
	width: 20%;
}

.comment-text {
	width: 74%;
}

.comment-send {
	margin: 15px 20px 0 0;
	color: white;
	background: #b79b74;
	border: none;
	border-radius: 4px;
	padding: 4px 10px;
}

.comment-cancel {
	background: none;
	margin-left: 65%;
}

.comment-form {
	display: none;
	padding: 6px 6px 8px 15px;
}

.show {
	display: block;
}

.container-fluid .discussion-message {
	color: white;
	width: 100%;
	padding: 4px 6px 0 12px;
	border-width: 3px;
}

.subject {
	margin-top: 15px;
	border: 3px solid #B79B74;
	border-radius: 5px;
	border-color: #B79B74;
}

.discussion-message a {
	cursor: pointer;
	padding: 0;
	margin: 0 0 10px 0;
	background: none;
	color: white;
}

.discussion-message a :hover {
	color: #B79B74;
}
div h5.discussion-message {
	margin-top: 0;
}

.discussion-message a h5 {
	color: white;
	padding: 0;
	margin: 10px 0 5px 0;
	font-size: 21px;
}

/*Кнопки*/
.answer-btn {
	margin: 0 5px 0 5px;
	border: 0;
	background: none;
	color: white;
}

.answer-btn:focus {
	color:#B79B74;
}

.answer-btn:active{
	border: 0;
	color:#B79B74;
}

.discussion-message label {
	font-size: 14px;
}

.discussion-message .views {
	width: 22px;
	height: 13px;
}

.likes,
.comment,
.views {
	border: 0;
}

.likes {
	background-image: url(../../img/discuss/likes.png);
	margin-top: 2px;
	width: 17px;
	height: 18px;
}

.comment {
	width: 21px;
	height: 16px;
}

.lbl-icon {
	font-size:15px;
}

.search {
	width:100%;
	border-radius:15px;
	border:0;
}

.searchButton:focus {
	background: url(../../img/discuss/searchActive.png);
	outline:none;
}

.searchButton {
	margin-top: 6px;
	padding:0;
	border: 0;
	background: url(../../img/discuss/search.png) no-repeat ;
	width: 21px;
	height:20px;
}

.comment-white-triangle {
	display: inline-block;
	background: url(../../img/discuss/commentWhiteCollapse.png) no-repeat center;
	width: 11px;
	height: 7px;
	background-size: 11px 7px;
	border: 0;
	background-position: center;
}

.comment-collapse-btn:hover {
	color:white;
	text-decoration:none;
}
