.discussion-container {
	padding: 0;
	width: 100%;
	margin: 0 15px;
}

.division {
	background: #B79B74;
	color: white;
	width: 100%;
	padding: 6px 10px 3px 10px;
	margin: 50px 0 5px 0;
}

.division a {
	color: white;
}
/*Форма отправки комментариев*/
input {
	outline: none;
	caret-color: black;
}

.comment-form input:nth-child(-n+2) {
	border: none;
	background: none;
	color: white;
	border-bottom: solid #71705d 1px;
	caret-color: white;
	margin-right: 5%;
}

.comment-form input:nth-child(1) {
	width: 22%;
}

.comment-form input:nth-child(2) {
	width: 70%;
}

.comment-send {
	color: white;
	background: #b79b74;
	border: none;
	border-radius: 4px;
	padding: 4px 10px;
}

.container-fluid .discussion-message {
	color: white;
	width: 100%;
	padding: 4px 6px 8px 12px;
	border-width: 3px;
}

.comment-form,
.container-fluid .discussion-message {
	padding: 4px 6px 8px 12px;
}

.subject {
	margin-top: 15px;
	border: 3px solid #B79B74;
	border-radius: 5px;
	border-color: #B79B74;
}

.discussion-message a {
	cursor: pointer;
	padding: 0;
	margin: 0 0 10px 0;
	background: none;
	color: white;
}

.discussion-message a :hover {
	color: #B79B74;
}
div h5.discussion-message {
	margin-top: 0;
}

.discussion-message a h5 {
	color: white;
	padding: 0;
	margin: 10px 0 10px 0;
	font-size: 21px;
}
.discussion-message h6 {
	padding: 0;
	margin: 10px 10px 10px 0;
	font-size: 17px;
}

/*Кнопки*/
.discussion-message button {
	margin: 0 5px 0 5px;
	border: 0;
	background:none;
	color:white;
}

.discussion-message button:focus {
	color:#B79B74;
}

.discussion-message button:active,
.discussion-message button:focus{
	border: 0;
	color:#B79B74;
}

.discussion-message label {
	font-size: 14px;
}

.discussion-message .views {
	width: 22px;
	height: 13px;
}
.likes {
	width: 19px;
	height: 22px;
}
.comment {
	width: 21px;
	height: 16px;
}

.search {
	width:100%;
	border-radius:15px;
	border:0;
}

.searchButton:focus {
	background: url(../../img/discuss/searchActive.png);
	outline:none;
}

.searchButton {
	margin-top: 6px;
	padding:0;
	border: 0;
	background: url(../../img/discuss/search.png) no-repeat ;
	width: 21px;
	height:20px;
}

.comment-white-triangle {
	display: inline-block;
	background: url(../../img/discuss/commentWhiteCollapse.png) no-repeat center;
	width: 11px;
	height: 7px;
	background-size: 11px 7px;
	border: 0;
	background-position: center;
}

.comment-collapse-btn:hover {
	color:white;
	text-decoration:none;
}
