@page
@model RammsteinFan.Pages.UserPages.AlbumsMainModel
@{
    ViewData["Title"] = "Альбомы";
    ViewData["chapter"] = "Альбомы";
}
<div class="container mt-2">
    <div class="row justify-content-center">
        @foreach (var album in Model.Albums)
        {
            <a class="col-5 linkAlbum" asp-page="/UserPages/Albums/ConcreteAlbum" asp-route-title="@album">
                <img style="width:100%" src="~/img/albums/@(album).jpg">
                <h5 class="text-center textLink">@album</h5>
            </a>
        }
    </div>
</div>
