.list-songs li a:hover, .list-songs li a:focus {
    color: #B79B74;
    text-decoration: underline;
}

.list-songs li a{
    color:white;
}

.show-translation,
.close-translation {
    font-size:0;
}

.show-translation:before {
    font-size:16px;
    content: 'Показать перевод';
}

.close-translation:before {
    font-size:16px;
    content: 'Скрыть перевод';
}

