@page
@model IndexModel
@{
    ViewData["Title"] = "О группе";
    ViewData["chapter"] = "О группе";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="img/Main/group%20photo.svg" class="img-fluid mb-3" style="width:86%">
        </div>
        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <p>
                Rammstein  — культовая немецкая метал-группа, образованная в
                январе 1994 года в Берлине. Группа поёт в жанрах Neue Deutsche
                Härte, индастриал-метал, хард-рок и готик-метал. Группа выделяется
                обилием пиротехники на концертах, эпатажными выступлениями,
                выходками перед зрителями и жёстким звучанием. В своих песнях они
                затрагивают довольно острые социальные проблемы, и выражают через
                них свой видение.
            </p>
            <p>Награды:</p>
            <ul>
                <li>
                    Премия «Грэмми» за лучшее метал-исполнение 1996 г., 2006 г. - Mein
                    teil, Du hast;
                </li>
                <li>
                    Премия Echo Awards в номинации «Лучшая немецкая поп-рок-группа»
                    1998 г. - Sehnsucht;
                </li>
                <li>
                    Премия Echo Awards в номинации «Альбом года» 2010 г. - Liebe ist
                    für alle da;
                </li>
                <li>
                    Премия Echo Awards в номинации «Лучший национальный сингл» 2002
                    г., 1998 г. - Sonne, Engel;
                </li>
                <li>
                    Премия Echo Awards в номинации «Лучший музыкальный DVD» 2016 г.,
                    2013 г., 2007 г. - Rammstein in amerika;
                </li>
                <li>
                    Премия Kerrang! Awards в номинации «Лучшая живая группа» 2005 г.;
                </li>
                <li>
                    Премия UK Festival Awards в номинации «Лучший фестивальный
                    хэдлайнер года 2019 г.;
                </li>
                <li>
                    Премия Kerrang! Awards в номинации «Лучшая международная группа»
                    2019 г.;
                </li>
                <li>
                    MTV Europe Music Award в номинации «Лучшее видео» 2005 г. -
                    Keine lust;
                </li>
                <li>
                    Премия Kerrang! Awards в номинации «Лучший сингл» 2019 г. -
                    Deutschland;
                </li>
                <li>
                    MTV Europe Music Award в номинации «Лучшая рок-группа» 1998 г.
                </li>
            </ul>
        </div>
    </div>
</div>
