.block-album {
    
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.link-album {
    padding: 5px 0 6px 0;
}

.linkAlbum {
    color: white;
}

.link-album:hover {
    text-decoration: none;
}

.link-album > h6:hover {
    text-decoration: underline;
    text-decoration-color: #B79B74;
    color: #B79B74;
}

.audioBlock {
    color:white;
}

.img-trimming {
    width: 260px;
    height: 260px;
    overflow: hidden;
}

.img-trimming img {
    object-fit: cover;
    max-width: 260px;

}