@page
@model RammsteinFan.Pages.UserPages.ConcreteAlbumModel
@{
    ViewData["Title"] = "Альбомы";
    ViewData["chapter"] = "Альбомы";
}
<br />
<div class="container-fluid" style="padding: 0;">
    <h3 >Mutter</h3>
    <div class="row justify-content-center">

        <div class="order-sm-2  order-2 col-lg-5 col-md-5 col-sm-5 col-10">
            <p class="fontAlbum">
                Mutter (с нем. — «Мать») — третий студийный альбом немецкой метал-группы Rammstein,
                вышел 2 апреля 2001 года. Альбом записывался в Германии, Франции, Швеции и Америке.
                Журнал Metal Hammer включил Mutter в 200 лучших рок-альбомов всех времён (в стиле
                индастриал-метал, 4-е место). В интервью Noizr Zine шведский продюсер и музыкант
                Петер Тэгтгрен посоветовал Mutter в качестве ориентира всем начинающим метал-
                продюсерам: «Он очень хорош, потому что в нём много различных элементов — в нём есть
                оркестровые партии, тяжёлые гитары, хорошее звучание барабанов — он может быть
                хорошим ориентиром»
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-10 order-lg-2 order-md-2">
            <section>
                <form action="#" method="get" style="display: none">
                    <label>
                        Language <select name="lang">
                            <option value="ru">Русский / Russian (ru)</option>
                        </select>
                    </label>
                    <label>
                        Stretching (Video Only)<select name="stretching">
                            <option value="auto" selected>Auto (default)</option>
                            <option value="responsive">Responsive</option>
                            <option value="fill" selected>Fill</option>
                            <option value="none" selected>None (original dimensions)</option>
                        </select>
                    </label>
                </form>
            </section>
            <h4 id="preview" >Mein herz brennt</h4>
            <img class="imgAlbum img-fluid text-center" src="~/img/albums/Mutter.jpg">
            <audio id="mainAudio" preload="none" controls width="100%">
                <source src="~/audio/Mein herz brennt.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-11 audioBlock selected">
            <button path="Mein herz brennt.mp3" class="playBtn audioBtn"></button>
            <button class="pauseBtn audioBtn"></button>

            <label class="title">Mein herz brennt</label>
            <label style="float: right;">5:06</label>
        </div>
        <div class="col-lg-11 audioBlock">
            <button path="Links 2 3 4.mp3" class="playBtn audioBtn"></button>
            <button class="pauseBtn audioBtn"></button>
            <label class="title">Links 2 3 4</label>
            <label style="float: right;">4:57</label>
        </div>
    </div>
</div>
<script>
    let buttons = document.getElementsByClassName("playBtn");
    for (let elem of buttons) {
        elem.onclick = function () { playClick(event) };
    }
    let pauseButtons = document.getElementsByClassName("pauseBtn");
    for (let elem of pauseButtons) {
        elem.onclick = function () { pauseClick(event) };
    }

    let divs = document.getElementsByClassName("audioBlock");
    for (let elem of divs) {
        elem.onmouseenter = function () { enterAudio(event) }
        elem.onmouseleave = function () { leaveAudio(event) }
    }
</script>
<script src="~/js/lang/ru.js"></script>
<script src="~/js/demo.js"></script>
<script src="~/js/mediaelement-and-player.min.js"></script>

<script src="~/js/audio.js"></script>