@page
@model RammsteinFan.Pages.UserPages.DiscussionsMainModel
@{
    ViewData["Title"] = "Обсуждения";
    ViewData["chapter"] = "Обсуждения";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="log-12" style="border-radius:15px;background-color:white;width:95%;">
            <div class="container-fluid" style="padding: 0;margin: 0;">
                <form method="post" style="padding: 0;margin: 0;">
                    <div class="row justify-content-left" style="padding: 0;margin: 0;">
                        <div class="col-11" style="padding:0 0 0 16px;margin: 0;">
                            <input class="search" type="text">
                        </div>
                        <div class="col-1">
                            <button class="searchButton" type="submit"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <h6>Не нашли подходящую тему? Добавьте свою.</h6>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-send btn-lg" href="input.html" style="margin-top: 15px">Добавить тему</a>
        </div>
        <div class="panel-group container-fluid" id="collapseGroup" style="padding: 0;">
            <div class="panel">
                <div class=" panel-heading division">
                    <a data-toggle="collapse" data-parent="#collapseGroup" href="#disc1">
                        <h5>Участники группы</h5>
                    </a>
                </div>
                <div class="container-fluid collapse in" id="disc1">
                    <div class="discuss">
                        <a class="answer"><h5>Почему Кристофер хотел уйти из группы?</h5></a>
                        <a class="answer"><h6>Автор: Андрей, 20.03.2021</h6></a>
                        <button class="comment" style="background-image: url(img/comment.png);"></button>
                        <label>3</label>
                        <button class="eye" style="background-image: url(img/eye.png);"></button>
                        <label>5</label>
                        <button class="fire" style="background-image: url(img/fire.png);"></button>
                        <label>2</label>
                    </div>
                    <div class="discuss">
                        <a class="answer"><h5>Тиль олимпийский спортсмен?</h5></a>
                        <a class="answer"><h6>Автор: Иван, 02.03.2021</h6></a>
                        <button class="comment" style="background-image: url(img/comment.png);"></button>
                        <label>3</label>
                        <button class="eye" style="background-image: url(img/eye.png);"></button>
                        <label>7</label>
                        <button class="fire" style="background-image: url(img/fire.png);"></button>
                        <label>3</label>
                    </div>
                    <div class="discuss">
                        <a class="answer"><h5>Кто лидер группы, Тиль или Рихард?</h5></a>
                        <a class="answer"><h6>Автор: Тимур, 28.02.2021</h6></a>
                        <button class="comment" style="background-image: url(img/comment.png);"></button>
                        <label>3</label>
                        <button class="eye" style="background-image: url(img/eye.png);"></button>
                        <label>2</label>
                        <button class="fire" style="background-image: url(img/fire.png);"></button>
                        <label>1</label>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class=" panel-heading division">
                    <a data-toggle="collapse" data-parent="#collapseGroup" href="#disc2"><h5>Символика группы</h5></a>
                </div>
                <div class="container-fluid collapse" id="disc2">
                    <div class="discuss">
                        <a class="answer" href="discussLogo.html"><h5>Логотип Rammstein</h5></a>
                        <a class="answer"><h6>Автор: Алексей, 08.02.2021</h6></a>
                        <button class="comment" style="background-image: url(img/comment.png);"></button>
                        <label>2</label>
                        <button class="eye" style="background-image: url(img/eye.png);"></button>
                        <label>6</label>
                        <button class="fire" style="background-image: url(img/fire.png);"></button>
                        <label>3</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>