@page
@model RammsteinFan.Pages.UserPages.VideoGaleryMainModel
@{
    ViewData["Title"] = "Видеогалерея";
    ViewData["chapter"] = "Видеогалерея";
}

<div class="container-fluid">
    <h4 class="text-center">@Model.Videos[0].Type</h4>
    <div class="row justify-content-around">
        @foreach (var video in Model.Videos)
        {
        <a class="blockVideoGalery" target="_blank"
           href="@video.Text"
           style="background-image: url('../img/videoGalery/@(video.Title).jpg');">
            <p>@video.Title</p>
        </a>
        }
    </div>
    <div id="contentBlock" class="hidden-content row justify-content-around">
        <a class="blockVideoGalery" target="_blank"
           href="https://www.youtube.com/watch?v=FV1z3VVuvFI&t=331s"
           style="background-image: url(../img/videoGalery/5.jpg);">
            <p>
                Rammstein - Haifisch (Official Making Of)
            </p>
        </a>
        <a class="blockVideoGalery" target="_blank"
           href="https://www.youtube.com/watch?v=mImuguOghRM"
           style="background-image: url(../img/videoGalery/6.jpg);">
            <p>Rammstein - Stripped (Official Making Of)</p>
        </a>
    </div>
    <button class="collapsible">Развернуть</button>
</div>
<script src="~/js/videoGalery.js">

</script>