@page
@model RammsteinFan.Pages.UserPages.VideoGaleryMainModel
@{
    ViewData["Title"] = "Видеогалерея";
    ViewData["chapter"] = "Видеогалерея";
}

<div class="container-fluid">
    <h4 class="text-center">Концерты</h4>
    <div class="row justify-content-around">
        <a class="blockVideoGalery" target="_blank"
           href="https://www.youtube.com/watch?v=DXm55W4yZPY&t=3s"
           style="background-image: url(../img/videoGalery/1.jpg);">
            <p>Rammstein - live in Moscow 2019 (Full concert) [multicam by DarkSun]</p>
        </a>
        <a class="blockVideoGalery" target="_blank"
           href="https://www.youtube.com/watch?v=pG9fkA_FYGQ"
           style="background-image: url(../img/videoGalery/2.jpg);">
            <p>Rammstein - Rock over Volga festival 2013 (Multicam by VinZ)</p>
        </a>
        <a class="blockVideoGalery" target="_blank"
           href="https://www.youtube.com/watch?v=gZ-M4XWSNOU&t=1s"
           style="background-image: url(../img/videoGalery/3.jpg);">
            <p>100 Jahre Rammstein (full original VHS rip) [HQ]*NEW RIP*</p>
        </a>
        <a class="blockVideoGalery" target="_blank"
           href="https://www.youtube.com/watch?v=gZ-M4XWSNOU&t=1s"
           style="background-image: url(../img/videoGalery/4.jpg);">
            <p>100 Jahre Rammstein (full original VHS rip) [HQ]*NEW RIP*</p>
        </a>
    </div>

    <div id="contentBlock" class="content row justify-content-around">
        <a class="blockVideoGalery"
           href="https://www.youtube.com/watch?v=DXm55W4yZPY&t=3s"
           style="background-image: url(../img/videoGalery/5.jpg);">
            <p>Rammstein - live in Moscow 2019 (Full concert) [multicam by DarkSun]</p>
        </a>
        <a class="blockVideoGalery"
           href="https://www.youtube.com/watch?v=pG9fkA_FYGQ"
           style="background-image: url(../img/videoGalery/6.jpg);">
            <p>Rammstein - Rock over Volga festival 2013 (Multicam by VinZ)</p>
        </a>
    </div>
    <button class="collapsible">Развернуть</button>
</div>
<script src="~/js/videoGalery.js">

</script>