@page
@model RammsteinFan.Pages.UserPages.Discussions.ConcreteDiscussionModel
@{
}

<div class="container-fluid"style="padding: 0;">
    <div class="row justify-content-center">
        @await Html.PartialAsync("SuggestionAddSubject") 
        <div class="panel-group container-fluid" id="collapseGroup" style="padding: 0;width:100%;margin:0 15px">
            <div class="panel" style="padding: 0;width:100%;">
                <div class="container-fluid">
                    <div class="discuss">
                        <a class="answer"><h5>Логотип Rammstein</h5></a>
                        <a class="answer"><h6>Автор: Алексей, 08.02.2021</h6></a>
                        <a class="answer"><h6>Откуда взялся логотип Rammstein?</h6></a>
                        <button class="comment" style="background-image: url(../../img/comment.png);"></button>
                        <label>2</label>
                        <button class="eye" style="background-image: url(../../img/eye.png);"></button>
                        <label>6</label>
                        <button class="fire" style="background-image: url(../../img/fire.png);"></button>
                        <label>3</label>
                    </div>
                    <h4 style="margin-top: 50px">Ответы</h4>
                    <div class="discuss">
                        <a class="answer"><h6>Автор: Саша, 08.03.2021</h6></a>
                        <h5>Я не знаю</h5>
                        <button class="comment" style="background-image: url(../../img/comment.png);"></button>
                        <label>2</label>
                        <button class="eye" style="background-image: url(../../img/eye.png);"></button>
                        <label>6</label>
                        <button class="fire" style="background-image: url(../../img/fire.png);"></button>
                        <label>3</label>
                    </div>
                    <div class="discuss">
                        <a class="answer"><h6>Автор: Саша, 08.03.2021</h6></a>
                        <h5>Я не знаю</h5>
                        <button class="comment" style="background-image: url(../../img/comment.png);"></button>
                        <label>2</label>
                        <button class="eye" style="background-image: url(../../img/eye.png);"></button>
                        <label>6</label>
                        <button class="fire" style="background-image: url(../../img/fire.png);"></button>
                        <label>3</label>
                    </div>
                    <div class="discuss">
                        <a class="answer"><h6>Автор: Саша, 08.03.2021</h6></a>
                        <h5>Я не знаю</h5>
                        <button class="comment" style="background-image: url(../../img/comment.png);"></button>
                        <label>2</label>
                        <button class="eye" style="background-image: url(../../img/eye.png);"></button>
                        <label>6</label>
                        <button class="fire" style="background-image: url(../../img/fire.png);"></button>
                        <label>3</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>