@page
@model RammsteinFan.Pages.UserPages.DiscussionsMainModel
@using RammsteinFan.Pages.ViewModels
@using RammsteinFan.Infrastructure.Core
@{
    ViewData["Title"] = "Обсуждения";
    ViewData["chapter"] = "Обсуждения";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="log-12" style="border-radius:15px;background-color:white;width:92%;">
            <div class="container-fluid" style="padding: 0;margin: 0;">
                <form method="post" style="padding: 0;margin: 0;">
                    <div class="row justify-content-left" style="padding: 0;margin: 0;">
                        <div class="col-11" style="padding:0 0 0 16px;margin: 0;">
                            <input class="search" type="text">
                        </div>
                        <div class="col-1">
                            <button class="searchButton" type="submit"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @await Html.PartialAsync("SuggestionAddSubject")

        <div class="panel-group container-fluid" id="collapseGroup" style="padding: 0;width:100%;margin:0 15px">
            @{ int index = 0;
                string href = "#" + index;
                string id = "discussion" + index;
                foreach (SubjectsListViewModel subjectsListViewModel in Model.SubjectsListViewModel)
                {
                    index++;
                    href = "#" + "discussion" + index;
                    id = "discussion" + index;
                    <div class="panel" style="padding: 0;width:100%;">
                        <div class="panel-heading division">
                            <a data-toggle="collapse" data-parent="#collapseGroup" href="@href" style="margin:0;padding: 0;width:90%;">
                                <h5>@subjectsListViewModel.TopHeading</h5>
                            </a>
                        </div>
                        <div class="container-fluid collapse in" id="@id">
                            @foreach (DiscussionSubject subject in subjectsListViewModel.GetDiscussionSubjects)
                            {
                                @await Html.PartialAsync("DiscussionTitle", subject)
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>