/*Вехрушка*/
.cap {
    width: 1400px;
    min-width: 400px
}
/*Навигации*/
.navBtn{
    font-weight: 600;
    background-color: #303030;
    border: 0;
    color:white;
    font-size: 22px;
    border-radius: 9px;
    padding: 9px 9px;
    margin:0;
    outline:none;
}
.navBtn:focus {
    outline: none;
}
.navBtn:hover{
    background-color: black;
    border-color: black;
    color: #B79B74;
}
.navBtnActive {
    background-color: black;
    border-color: black;
    border-radius: 9px;
    color: #B79B74;
}

/*Выпадающее меню*/
.btn-group > .menuButtons > .dropButton:hover {
    color: #B79B74;
    cursor: pointer;
}
.btn-group > .menuButtons>.dropButton {
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
    color: white
}
.menuButtons{
    background: rgba(0,0,0,0.7);
}

/*Ссылки на соц. сети*/
.socialNetworks{
    border: 0; 
    padding: 25% 0 25% 0;
    margin: 0 0 0 8px;
}
.nav > li > a> img{
    width:30px;
}
