<table class="decorativeLines">
    <tbody>
        <tr>
            <td class="Line1"></td>
        </tr>
        <tr>
            <td class="separator"></td>
        </tr>
        <tr>
            <td class="Line2"></td>
        </tr>

        <tr>
            <td class="separator"></td>
        </tr>
        <tr>
            <td class="Line3"></td>
        </tr>
    </tbody>
</table>