.photosBtn {
    border: 0;
    border-radius: 7px;
    width: 95%;
    height: 150px;
    margin: 10px 2% 25px 2%;
    background: #181818;
}

.photosBtn:hover,.photosBtn> p:hover {
    cursor: pointer;
    color: #B79B74;
}

.photosBtn p {
    height: 100%;
    font-size: 19px;
    color: white;
    padding-top: 8%;
}

.photoImg {
    background-color: aliceblue;
    padding: 0;
    width:28%;
    margin: 17px;
    overflow: hidden;
    height: 118px;
    border:0;
}

.photoImg img {
    min-height: 120px;
    border: 0;
    overflow: hidden;
    width: 190px;
    object-fit: cover;
}

.rowImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.albumImg {
    margin-top: 20px;
    background-color: aliceblue;
    padding: 0;
    width: 20%;
    height: 110px;
    overflow: hidden;
}

.albumImg img {
    min-height: 110px;
    position: relative;
    width: 123%;
    right: 13px;
}

