/*Кнопка отправить*/
.btn-send{
    color: white;
    background: #B79B74;
    border-color:#B79B74;  
    border-radius: 8px;
    padding-top: 2;
    padding-bottom: 4;
}
.btn-send:hover{
    background: black;
    color: #B79B74;
    border-color: black;
}
/*input feedback*/
.some-input {
    border: none;
    border-bottom: 2px solid rgb(167,167,167);
    background-color: transparent;
    color: white;
    outline: none;
    font:normal 16px;
    caret-color: white;
    margin-bottom: 20px;
    width: 100%;
}

textaFeedback{
    color: white;
    font:normal 16px;
}
textarea {
    width: 100%;
    outline: none;
    color: white;
    background: url(../1.png) repeat-y;
    font: normal 16px;
    line-height: 25px;
    padding: 2px 10px;
    border: 0;
}
/*Заголовок для формы*/
h2{
    text-decoration-line: underline;
    color: #B79B74;
    margin-bottom: 20px;
    font-size: 24px;
}
.feedback-form{
    border-style: solid;
    border-width: 3px;
    border-color: #B79B74;
    padding: 7px; 
    margin: 35px;
}